body {
  margin: 0;
  font-style: normal;
  background-color: #f9f0b7;
}

.titulo {
  position: sticky;
  top: 0px;
  text-align: center;
  width: 60%;
  padding: 10px 0;
  margin: 0 20%;
  margin-top: 30px;
  font-size: 32px;
  font-family: "Times New Roman";
  color: silver;
  background-color: #766862;
  
}
.subtitulo {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  width: 95%;
  padding: 0 0;
  border-bottom: 1px solid #312e2e;
  color: black;
  font-weight: bold;
}
.conteudo {
  text-align: left;
  width: 44%;
  padding: 20px 1%;
  margin: 0 27%;
  color: #312e2e;
  background-color: #92bf9f;
}

.citacao {
  padding-bottom: 20px;
}

.frase {
  margin-left:20px;
  text-align: justify; 
}

.rodape {
  padding: 20px 0;
  text-align: left; 
  font-style: normal;
  text-align: center;
  background-color: #e3d49c;
  color: #312e2e;
}

address {
  font-style: normal;
}
